<div class="page-header">
  <h1>Cascade Riser Management <small>Contact</small></h1>
</div>
<div class="row-fluid">
  <div class="span4">
    <dl>
      <dt>Customer Service</dt>
      <dd>206.396.6864</dd>
      <dt>Fax</dt>
      <dd>800.537.9459</dd>
      <dt>Email</dt>
      <dd>service@cascaderisermanagement.com</dd>
      <dt>Mailing Address</dt>
      <dd>5413 Village Park Drive SE</dd>
      <dd>Suite 2812</dd>
      <dd>Bellevue, WA 98006</dd>
    </dl>
  </div>

  <div class="span4">

    <form>
<legend><h4>Send an instant message</h4></legend>
    <input type="text" placeholder="your email…">
    <input type="text" placeholder="your phone…">
    <input type="text" placeholder="your message…">
    <br/>
    <input type="submit">
  </div>

  <div class="span4">
    <img src="/img/phone.png" alt='optional image'>
  </div>
</div>
