<div class="page-header">
  <h1>Cascade Riser Management <small>Welcome</small></h1>
</div>
<div class="row-fluid">
  <div class="span4">
    <p>We specialize in riser management and cabling in Seattle’s downtown, commercial real estate. Since we do not outsource or subcontract our services, clients maintain a clean, code-complient, safe, and secure telecommunication infrastructure.</p>
  </div>
  
  <div class="span4">
    <p>Whether you're moving in, out or upgrading existing infrastructure, you’ll receive a single point of access that caters to all of your telecommunication needs including:</p>
    <ul>
      <li>competitive pricing</li>
      <li>rapid response times</li>
      <li>riser management at no cost to the property manager</li>
    </ul>
  </div>
  
  <div class="span4">
    <img src="/img/windows.png" alt="optional image" />
  </div>
</div>

