<div class="page-header"/>
  <h1>Cascade Riser Management <small> Services </small></h1>
</div>
<div class="row-fluid">
  <div class="span4">
    <img src="/img/helmet.png" alt="optional image" >
  </div>

  <div class="span4">
    <h4>services offered</h2>
    <ul>
      <li id="structuredCabling">structured cabling</li>
      <li id="fiberOptic">fiber optic installation/termination</li>
      <li id="testing">testing/troubleshooting</li>
      <li id="coaxial">coaxial cable</li>
      <li id="cableRemoval">cable removal</li>
      <li id="circuitExtension">circuit extension</li>
    </ul>
  </div>

  <div class="span4">
    <h4>cable removal</h2>
    <p>Moving out of your leased office space can be a hassle. As per most lease agreements it’s the tenants responsibility to remove all of the cabling that has been installed during occupation. Cascade Riser Management can perform this service in a professional and timely manner</p>
  </div>
</div>
